/*=============== portfolio ===============*/
.portfolio{
    background-color: var(--container-color);
    transition: background-color .4s;
  }
  
  .portfolio__container{
    row-gap: 0;
  }
  
  .portfolio__profile{
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;
  }
  
  .portfolio__image{
    width: 220px;
  }
  
  .portfolio__img{
    position: relative;
    border: 4px solid --white-color;
    z-index: 1;
  }
  
  .portfolio__shadow,
  .portfolio__line,
  .portfolio__box{
    position: absolute;
  }
  
  .portfolio__shadow{
    width: 150px;
    height: 385px;
    background-color: var(--body-color);
    top: -2.5em;
    right: -3.5rem;
    border-bottom: 4px solid var(--first-color);
    transition: background-color .4s;
  }
  
  .portfolio__profile .geometric-box{
    top: 1.5rem;
    right: -2.8rem;
  }
  
  .portfolio__line{
    filter: invert(1);
    right: -1.25rem;
    top: 6rem;
    width: 50px;
    transition: filter .4s;
  }
  
  .portfolio__box{
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    right: -0.5rem;
    bottom: 1.5rem;
  }
  
  .portfolio__info{
    padding-left: 1.25rem;
  }
  
  .portfolio__description{
    position: relative;
    color: var(--title-color);
    margin-bottom: 1.5rem;
  }
  
  .portfolio__decription::after{
    content:"";
    width: 20px;
    height: 1px;
    background-color: var(--title-color);
    position: absolute;
    left: -1.75rem;
    top: 0.5rem;
  }
  
  .portfolio__list{
    list-style: square;
    color: var(--title-color);
    margin-bottom: 3rem;
  }
  
  .portfolio__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }

  /*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
    .portfolio__image{
      width: 180px;
    }
  
    .portfolio__shadow{
      height: 330px;
      right: -2.5rem;
    }
}
  

  /* For large devices */
@media screen and (min-width: 1150px){
    .portfolio__container{
      grid-template-columns: 440px 525px;
      gap: 1rem 9rem;
      align-items: center;
      padding-block: 1rem;
    }
  
    .portfolio__profile{
      order: -1;
      grid-row: 1/3;
    }
  
    .portfolio__image{
      width: 500px;
    }
  
    .portfolio__img{
      border: 8px solid var(--white-color);
    }
  
    .portfolio__shadow{
      width: 240px;
      height: 500px;
      top: -4rem;
      right: -5.5rem;
      border-bottom: 6px solid --first-color;
    }
  
    .portfolio__profile .geometric-box{
      right: -4ewm;
      top: 4.5rem;
    }
  
    .portfolio__line{
      width: 80px;
      right: -2rem;
      top: 10rem;
    }
  
    .portfolio__box{
      width: 64px;
      height: 64px;
      right: -0.75rem;
    }
  
    .portfolio__container .section__title-1{
      align-self: flex-end;
      margin-inline: 0;
    }
  
    .portfolio__info{
      align-self: flex-start;
      padding-left: 3rem;
    }
  
    .portfolio__description{
      font-size: var(--h2-font-size);
      margin-bottom: 2rem;
    }
  
    .portfolio__decription::after{
      width: 32px;
      height: 2px;
      left: -3rem;
      top: 14px;
    }
  
    .portfolio__list{
      margin-bottom: 5rem;
    }
  
    .portfolio__buttons{
      justify-content: initial;
    }
}